.about-us {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 10rem;
    color: #604A57;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 1rem;
    }

    ul {
        list-style-type: disc;
        padding-left: 2rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    li {
        strong {
            font-weight: 600;
        }
    }

    .dots {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        div {
            background-color: rgb(224, 191, 200);
            border-radius: 50%;
            height: 0.7rem;
            width: 0.7rem;
            margin: 0 5px;
        }
    }

    .image {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    }
}

@media screen and (max-width: 1200px) {
    .about-us {
        padding: 1rem 5rem;
    }
}

@media screen and (max-width: 992px) {
    .about-us {
        padding: 1rem 3rem;
    }
}

@media screen and (max-width: 768px) {
    .about-us {
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 576px) {
    .about-us {
        padding: 1rem 1rem;
    }
}