@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$font-stack: 'Montserrat', sans-serif;
$primary-color: #604A57;
$secondary-color: #604A57;

.contact-us {
    font-family: $font-stack;
    max-width: 1200px;
    margin: 0 auto 3rem;
    padding: 1rem;

    h1 {
        font-size: 2rem;
        font-weight: 700;
        color: $primary-color;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.1rem;
        font-weight: 400;
        color: $secondary-color;
        line-height: 1.6;
        margin-bottom: 2rem;
    }

    .team-members {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .team-member {
            flex: 1 1 250px;
            background-color: rgba(224, 191, 200, 0.20);
            padding: 1rem;
            border-radius: 1rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            h2 {
                font-size: 1.5rem;
                font-weight: 500;
                color: $secondary-color;
                margin-bottom: 1rem;
            }

            .contact-method {
                display: flex;
                align-items: center;
                font-size: 1rem;
                font-weight: 400;
                color: $secondary-color;
                margin-bottom: 0.5rem;

                svg {
                    font-size: 1.25rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    .contact-us {
        padding: 0;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }

        .team-members {
            .team-member {
                h2 {
                    font-size: 1.6rem;
                }

                .contact-method {
                    font-size: 0.9rem;

                    svg {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}